{% extends "basic.html" %}

{% load i18n %}

{% block title %}{% trans 'Users' %}{% endblock %}

{% block main %}
<main>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">
                {% trans 'ID' %}
            </th>
            <th scope="col">
                {% trans 'Username' %}
            </th>
            <th scope="col">
                {% trans 'Full name' %}
            </th>
            <th scope="col">

            </th>
        </tr>
        </thead>
        <tbody>
        {% if people %}
        {% for person in people %}
        <tr>
            <th scope="col">
                {{ person.id }}
            </th>
            <td>
                {{ person.username }}
            </td>
            <td>
                {{ person.first_name }} {{ person.last_name }}
            </td>
            <td>
                <div class="p-2 bd-highlight">
                    <a class="btn btn-primary" href="{% url 'edit' person.pk %}" role="button">{% trans 'edit' %}</a>
                </div>
                <div class="p-2 bd-highlight">
                    <a class="btn btn-danger" href="{% url 'delete' person.pk %}" role="button">{% trans 'delete' %}</a>
                </div>
            </td>
        </tr>

        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</main>
{% endblock %}