{% extends "basic.html" %}

{% load i18n %}

{% block title %}{% trans 'Status' %}{% endblock %}

{% block main %}
<main>
    <div class="container">
        <div class="p-2 bd-highlight">
            <a class="btn btn-primary" href="{% url 'status_create' %}"
               role="button">{% trans 'create status' %}</a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">
                    {% trans 'ID' %}
                </th>
                <th scope="col">
                    {% trans 'name' %}
                </th>
                <th scope="col">
                    {% trans 'created_at' %}
                </th>
                <th scope="col">

                </th>
            </tr>
            </thead>
            <tbody>
            {% if statuses %}
            {% for status in statuses %}
            <tr>
                <th scope="col">
                    {{ status.id }}
                </th>
                <td>
                    {{ status.name }}
                </td>
                <td>
                    {{ status.created_at }}
                </td>
                <td>
                    <div class="p-2 bd-highlight">
                        <a class="btn btn-primary" href="{% url 'status_update' status.id %}"
                           role="button">{% trans 'edit' %}</a>
                        <a class="btn btn-danger" href="{% url 'status_delete' status.id %}"
                           role="button">{% trans 'delete' %}</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            {% endif %}

            </tbody>
        </table>
    </div>
</main>
{% endblock %}