{% extends "home.html" %}

{% load i18n %}

{% block title %}{% trans 'Labels' %}{% endblock %}

{% block main %}
<main>
    <div class="container">
        <div class="p-2 bd-highlight">
            <a class="btn btn-primary" href="{% url 'create_label' %}"
               role="button">{% trans 'create label' %}</a>
        </div>

        <ul class="list-group">
            {% if labels %}
            {% for label in labels %}

            <li class="list-group-item">

                <div class="d-flex bd-highlight mb-3">
                    <div class="mr-auto p-2 bd-highlight text-capitalize">{{ label.id }}</div>
                    <div class="mr-auto p-2 bd-highlight text-capitalize">{{ label.name }}</div>
                    <div class="mr-auto p-2 bd-highlight text-capitalize">{{ label.created_at }}</div>
                    <div class="p-2 bd-highlight">
                        <a class="btn btn-primary" href="{% url 'update_label' label.id %}"
                           role="button">{% trans 'edit' %}</a>
                        <a class="btn btn-danger" href="{% url 'delete_label' label.id %}"
                           role="button">{% trans 'delete' %}</a>
                    </div>
                </div>

            </li>

            {% endfor %}
            {% endif %}
        </ul>

    </div>
</main>
{% endblock %}