{% extends "basic.html" %}

{% load i18n %}

{% block title %}{% trans 'Labels' %}{% endblock %}

{% block main %}
<main>
    <div class="container">
        <div class="p-2 bd-highlight">
            <a class="btn btn-primary" href="{% url 'create_label' %}"
               role="button">{% trans 'create label' %}</a>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">
                    {% trans 'ID' %}
                </th>
                <th scope="col">
                    {% trans 'name' %}
                </th>
                <th scope="col">
                    {% trans 'created_at' %}
                </th>
                <th scope="col">

                </th>
            </tr>
            </thead>
            <tbody>
            {% if labels %}
            {% for label in labels %}
            <tr>
                <th scope="col">
                    {{ label.id }}
                </th>
                <td>
                    {{ label.name }}
                </td>
                <td>
                    {{ label.created_at }}
                </td>
                <td>
                    <div class="p-2 bd-highlight">
                        <a class="btn btn-primary" href="{% url 'update_label' label.id %}"
                           role="button">{% trans 'edit' %}</a>
                        <a class="btn btn-danger" href="{% url 'delete_label' label.id %}"
                           role="button">{% trans 'delete' %}</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            {% endif %}

            </tbody>
        </table>
    </div>
</main>
{% endblock %}