{% extends "basic.html" %}

{% load i18n %}

{% block title %}{% trans 'Homepage' %}{% endblock %}

{% block main %}

<div class="container">
    <div class="d-flex justify-content-center bg-light">
        <div class="d-flex flex-column">
            <h1 class="p-2">{% trans 'Welcome to my Take on Task Manager' %}</h1>
            <br>
            <br>
            <p class="p-2">{% trans 'If you have some feedbacks on my take, please contact me on my email address' %}
                <mark>
                    Gregtmj@gmail.com
                </mark>
            </p>
            <p class="p-2">
                <strong>{% trans 'Just remember, that every programmer sometimes needs a lovely or a bad feedback' %}
                </strong>
            </p>
        </div>

    </div>
</div>

{% endblock %}