{% extends "basic.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Create' %}{% endblock %}

{% block main %}
<div class="d-flex justify-content-center">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form.name|as_crispy_field }}
        </div>
        <div class="form-group">
            {{ form.description|as_crispy_field }}
        </div>
        <div class="form-group">
            {{ form.executor|as_crispy_field }}
        </div>
        <div class="form-group">
            {{ form.status|as_crispy_field }}
        </div>
        <div class="form-group">
            {{ form.labels|as_crispy_field }}
        </div>
        <button type="submit" class="btn btn-primary">{% trans 'Create' %}</button>
    </form>
</div>
{% endblock %}
