{% extends "basic.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans 'Tasks' %}{% endblock %}

{% block main %}
<main>
    <div class="container">
        <div class="p-2 bd-highlight">
            <a class="btn btn-primary" href="{% url 'create_task' %}"
               role="button">{% trans 'create task' %}</a>
        </div>
        <div class="row justify-content-md-center">

                <form method="get">
                    <div class="form-group">
                        <div class="col-sm-10">
                            {% bootstrap_field  filter.form.status %}
                        </div>
                        <div class="col-sm-10">
                            {% bootstrap_field  filter.form.executor %}
                        </div>
                        <div class="col-sm-10">
                            {% bootstrap_field  filter.form.label %}
                        </div>
                        <div class="col-sm-10">
                            {% bootstrap_field  filter.form.users_task %}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">{% trans 'Show' %}</button>
                    <br>
                    <br>
                </form>



            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">
                        {% trans 'ID' %}
                    </th>
                    <th scope="col">
                        {% trans 'Name' %}
                    </th>
                </tr>
                </thead>
                <tbody>
                {% if tasks %}
                {% for task in tasks %}
                <tr>
                    <th scope="row">
                        {{ task.id }}
                    </th>
                    <td>
                        <a href="{% url 'task' task.id %}">
                            {{ task.name }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}